# Stripe
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=

STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/

STRIPE_PRODUCT_PRICE=

# Github
GITHUB_ID=
GITHUB_SECRET=
GITHUB_SCOPE=read:user

# FaunaDB
FAUNADB_KEY=
